<div class="question" id="q<%= id %>">
  <label>Question <input type="text" name="poll[questions][<%= id %>][body]">
  </label>
  <div class="answers" id="q<%=id%>"></div>
  <a href="#" class="add-answer" data-q-id="<%=id%>" id="q<%=id%>">Add Answer</a>
</div>
