<div class="errors"></div>
<div class="warnings"></div>
<div class="successes"></div>
<h1> <%= poll.escape("name") %> </h1>
<h3> Send the Answer Text Code to <strong>+1 928-237-4477</strong>
    <% if (PollForUs.currentUser.get("id") === poll.get("user_id")) { %>
    <a href="polls#<%= poll.id %>/edit" class="edit-poll no-underline" data-poll-id="<%= poll.id %>">
      <i class="icon-edit"></i>
    </a> 
    <a href="#" class="delete-poll no-underline" data-poll-id="<%= poll.id %>">
      <i class="icon-remove"></i>
    </a> 
    <% } %>
</h3>
<div class="questions">
    <% poll.get("questions").forEach(function(question) { %>
    <div class="live-question" id="<%= question.id %>">
      <% if (PollForUs.currentUser.get("id") === poll.get("user_id")) { %>
        <a href="#" class="delete-question no-underline pos-upper-right"
          data-question-id="<%= question.id %>">
          <i class="icon-remove"></i>
        </a> 
      <% } %>
      <h3><%= question.escape("body") %></h3>
      <canvas class="results-chart" id="question-results-<%= question.id %>" width="250" height="250"></canvas>
      <ul class="answers">
        <% question.get("answers").forEach(function(answer) { %>
        <li class="live-answer" id="a<%= answer.id %>">
          <div class="answer-color" id="a<%= answer.id %>"></div>
          <%= answer.escape("body") %>
          Text Code: <%= answer.id %>
          (<%= answer.get("user_answers")%>)
        </li>
        <% }); %>
      </ul>
    </div>
    <% }); %>
</div>
