<h1> <%= poll.escape("name") %> </h1>

<h3> Text +1 928-237-4477 the text code for the answer </h3>
<div class="questions">
    <% poll.get("questions").forEach(function(question) { %>
    <div class="question">
      <h4><%= question.escape("body") %></h4>
        <ul class="answers">
        <% question.get("answers").forEach(function(answer) { %>
        <li>
          <%= answer.escape("body") %> 
          Text Code: <%= answer.id %>
          (Votes: <%= answer.get("user_answers")%>)
        </li>
        <% }); %>
      </ul>
    </div>
    <% }); %>
</div>
