<h1> <%= poll.escape("name") %> </h1>

<h3> Text +1 928-237-4477 the text code for the answer 
    <a href="#/polls/<%= poll.id %>/edit" class="edit-poll no-underline" data-poll-id="<%= poll.id %>">
      <i class="icon-edit"></i>
    </a> 
    <a href="#" class="delete-poll no-underline" data-poll-id="<%= poll.id %>">
      <i class="icon-remove"></i>
    </a> 
</h3>
<div class="questions">
    <% poll.get("questions").forEach(function(question) { %>
    <div class="live-question" id="<%= question.id %>">
      <a href="#" class="delete-question no-underline pos-upper-right"
        data-question-id="<%= question.id %>">
        <i class="icon-remove"></i>
      </a> 
      <h3><%= question.escape("body") %></h3>
      <canvas class="results-chart" id="question-results-<%= question.id %>" width="250" height="250"></canvas>
      <ul class="answers">
        <% question.get("answers").forEach(function(answer) { %>
        <li class="live-answer">
          <%= answer.escape("body") %>
          Text Code: <%= answer.id %>
          (<%= answer.get("user_answers")%>)
        </li>
        <% }); %>
      </ul>
    </div>
    <% }); %>
</div>
