<h1> <%= poll.escape("name") %> </h1>

<h3> Text +1 928-237-4477 the text code for the answer </h3>
<div class="questions">
    <% poll.get("questions").forEach(function(question) { %>
    <div class="live-question">
      <h3><%= question.escape("body") %></h3>
      <canvas class="results-chart" id="question-results-<%= question.id %>" width=225" height="225"></canvas>
      <ul class="answers">
        <% question.get("answers").forEach(function(answer) { %>
        <li class="live-answer">
          <%= answer.escape("body") %>
          Text Code: <%= answer.id %>
          (Votes: <%= answer.get("user_answers")%>)
        </li>
        <% }); %>
      </ul>
    </div>
    <% }); %>
</div>
