<!DOCTYPE html>
<html>
<head>
  <title>PollForUs</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "/layouts/navbar" %>
  <%= render "layouts/flash", flash: flash %>
  <%= yield %>
</body>

</html>
